
.overwrite {
    float: right;
    margin: 48% 0 0 0;
    position: absolute;
}

.overwrite h2 a {
    background-color: #3D3E2A;
    color: #FFFFFF;
    margin-bottom: 5px;
    opacity: 0.8;
    padding: 5px 10px;
    text-decoration: none;
}
.overwrite p.description {
    background-color: #3D3E2A;
    color: #FFFFFF;
    margin-top: 8px;
    opacity: 0.8;
    padding: 0 10px;
    text-decoration: none;
}
#slide_nav{
	display: none;
}